<template>
  <div>
    {{ username }}
    <v-dialog v-model="modal" persistent max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn rounded icon title="Logout" @click="logout">
          <v-icon>mdi-logout</v-icon>
        </v-btn>
        <div v-on="on" v-show="false" />
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">
            Login
            <span v-if="error" style="color: red"> ({{ error }})</span>
          </span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Username" v-model="username" @keypress.enter="enterUsername" ref="username" autofocus />
          <v-text-field type="password" label="Password" v-model="password" @keypress.enter="enterPassword" ref="password" />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text :loading="logging" @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data: () => ({
    modal: true,
    loading: true,
    logging: false,
    username: '',
    password: '',
    error: '',
  }),
  mounted() {
    this.$ajax.authenticated
      .then(username => {
        this.modal = false
        this.username = username
      })
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    enterUsername() {
      if (!this.username.trim()) {
        this.$refs.username.$refs.input.blur()
        setTimeout(() => {
          this.$refs.username.$refs.input.focus()
        }, 50)
      } else {
        this.$refs.password.$refs.input.focus()
      }
    },
    enterPassword() {
      if (!this.password.trim()) {
        this.$refs.password.$refs.input.blur()
        setTimeout(() => {
          this.$refs.password.$refs.input.focus()
        }, 50)
      } else {
        this.login()
      }
    },
    login() {
      this.error = ''
      this.logging = true
      this.$ajax
        .authenticate(this.username, this.password)
        .then(() => {
          this.password = ''
        })
        .catch(() => {
          this.error = 'Invalid credentials'
        })
        .finally(() => {
          this.logging = false
        })
    },
    logout() {
      this.$ajax.delete('/api/core/auth/').then(() => {
        window.location.reload()
      })
    },
  },
}
</script>
