<template>
  <v-dialog ref="dialog" v-model="modal" width="290px">
    <template v-slot:activator="{ on }">
      <v-text-field
        v-bind="{ ...$attrs, ...$props }"
        :value="readingDate"
        :placeholder="thai ? 'DD/MM/YYYY' : 'YYYY-MM-DD'"
        @input="typeDate"
        @click:prepend="modal = true"
        prepend-icon="mdi-calendar"
      ></v-text-field>
      <div v-on="on" />
    </template>
    <v-date-picker :value="validDate" :locale="thai ? 'th-th' : undefined" @input="selectDate" />
  </v-dialog>
</template>
<script>
import moment from 'moment'
export default {
  props: {
    value: {},
    thai: { type: Boolean, default: false },
    autoformat: { type: Boolean, default: false },
  },
  data: () => ({
    modal: false,
  }),
  computed: {
    readingDate() {
      return this.getDate(this.value, 'read')
    },
    validDate() {
      return this.getDate(this.value, 'valid')
    },
  },
  methods: {
    getDate(value, type) {
      value = value || ''
      let date
      if (this.thai && type == 'type') {
        let checkingValue = value.replace(/\/(\d+)$/, (a, b) => {
          if (type == 'type') {
            b = parseInt(b) - 543
          }
          return `/${b}`
        })
        date = moment(checkingValue, 'DD/MM/YYYY', true)
      } else {
        date = moment(value, 'YYYY-MM-DD', true)
      }

      if (date.isValid()) {
        if (this.thai && type == 'read') {
          return date.format(`DD/MM/${date.year() + 543}`)
        } else {
          return date.format(`YYYY-MM-DD`)
        }
      } else if (type == 'valid') {
        return ''
      } else {
        return value
      }
    },
    typeDate(event) {
      event = event || ''
      if (this.autoformat) {
        if (this.thai) {
          if (event.length == 2 || event.length == 5) {
            event += '/'
          }
        } else {
          if (event.length == 4 || event.length == 7) {
            event += '-'
          }
        }
      }
      this.$emit('input', this.getDate(event, 'type'))
    },
    selectDate(event) {
      this.$emit('input', event)
      this.modal = false
    },
    clickClearDate() {
      this.$emit('input', null)
      this.modal = false
    },
  },
}
</script>
