<template>
  <v-autocomplete
    v-model="model"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    v-bind="$attrs"
    item-text="keyword"
    item-value="id"
    clearable
  ></v-autocomplete>
</template>
<script>
export default {
  props: {
    url: { type: String, required: true },
    value: {},
  },
  data: () => ({
    descriptionLimit: 60,
    items: [],
    isLoading: false,
    model: null,
    search: null,
  }),

  watch: {
    value() {
      this.model = parseInt(this.value)
      if (this.model) {
        this.$ajax
          .get(this.url + this.model + '/')
          .then(response => {
            this.items = [response.data]
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    },
    model() {
      this.$emit('input', this.model)
    },
    search(val) {
      // Items have already been loaded
      if (this.items.length > 0) return

      // Items have already been requested
      if (this.isLoading) return

      this.isLoading = true

      // Lazily load input items
      this.$ajax
        .get(this.url, { params: { keyword: val } })
        .then(response => {
          this.items = response.data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>
