<template>
  <v-app>
    <v-app-bar>
      <v-auth-btn />
      <li><router-link to="/employee/">Employee</router-link></li>
      <li><router-link to="/car/">Car</router-link></li>
      <li><router-link to="/home/">Home</router-link></li>
      <li><router-link to="/debt/">Debt</router-link></li>
      <v-btn v-on:click="create">create</v-btn>
    </v-app-bar>

    <v-main><router-view></router-view></v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      message: '',
    }
  },
  methods: {
    create() {
      this.$ajax.post('/api/taxicom/debt/debt_added/')
    },
  },
}
</script>
