<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">platename</th>
          <th class="text-left">color</th>
          <th class="text-left">province</th>
          <th class="text-left">model</th>
          <th class="text-left">fuel type</th>
          <th class="text-left">transmission type</th>
          <th class="text-left">engine number</th>
          <th class="text-left">gastube number</th>
          <th class="text-left">chassis number</th>
          <th class="text-left">manufature date</th>
          <th class="text-left">purchase date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in car" :key="item.plate_number">
          <td>{{ item.plate_number }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.plate_province }}</td>
          <td>{{ item.car_model }}</td>
          <td>{{ item.fuel_type_name }}</td>
          <td>{{ item.transmission_type }}</td>
          <td>{{ item.engine_number }}</td>
          <td>{{ item.gas_tube_number }}</td>
          <td>{{ item.chassis_number }}</td>
          <td>{{ item.manufatured_date }}</td>
          <td>{{ item.purchased_date }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  data() {
    return {
      car: [],
    }
  },
  mounted() {
    this.$ajax.get('/api/taxicom/car/').then(response => {
      this.car = response.data
    })
  },
}
</script>
