<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">value</th>
          <th class="text-left">debtor</th>
          <th class="text-left">createtime</th>
          <th class="text-left">updatetime</th>
          <th class="text-left">timein</th>
          <th class="text-left">timeout</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in debt" :key="item.value">
          <td>{{ item.value }}</td>
          <td>{{ item.debtor }}</td>
          <td>{{ item.create_time }}</td>
          <td>{{ item.update_time }}</td>
          <td>{{ item.time_in }}</td>
          <td>{{ item.time_out }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  data() {
    return {
      debt: [],
    }
  },
  mounted() {
    this.$ajax.get('/api/taxicom/debt/').then(response => {
      this.debt = response.data
    })
  },
}
</script>
