<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">firstname</th>
          <th class="text-left">lastname</th>
          <th class="text-left">birthdate</th>
          <th class="text-left">identification number</th>
          <th class="text-left">identification expiry</th>
          <th class="text-left">join date</th>
          <th class="text-left">status</th>
          <th class="text-left">license type</th>
          <th class="text-left">lisense number</th>
          <th class="text-left">license expiry</th>
          <th class="text-left">can work as driver</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in employees" :key="item.first_name">
          <td>{{ item.first_name }}</td>
          <td>{{ item.last_name }}</td>
          <td>{{ item.birth_date }}</td>
          <td>{{ item.identification_number }}</td>
          <td>{{ item.identification_expiry }}</td>
          <td>{{ item.join_date }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.license_type }}</td>
          <td>{{ item.license_number }}</td>
          <td>{{ item.license_expiry }}</td>
          <td>{{ item.can_work_as_driver }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  data() {
    return {
      employees: [],
    }
  },
  mounted() {
    this.$ajax.get('/api/taxicom/employee/').then(response => {
      this.employees = response.data
    })
  },
}
</script>
