<template>
  <div>
    <v-container>
      <v-row justify="space-around" align="center">
        <v-text-field label="เลขทะเบียน" v-model="search_plate_number" @keypress.enter="getCar" />
      </v-row>
      <v-row justify="space-around" align="center">
        <v-select-search label="คนขับ" v-model="driver" url="/api/taxicom/employee/" :disabled="!car || car.status != 'IDLE'" />
      </v-row>
      <v-row justify="space-around" align="center" v-if="car">
        <v-col>{{ car.car_model }}</v-col>
        <v-col>{{ car.color }}</v-col>
        <v-col>{{ car.transmission_type }}</v-col>
        <v-col>{{ car.status }}</v-col>
      </v-row>
      <v-row justify="space-around" align="center">
        <v-col>
          <h2>เวลาออก {{ date_out }}</h2>
          <v-time-picker format="24hr" v-model="time_out" :disabled="!car || car.status != 'IDLE'" />
        </v-col>
        <v-col>
          <h2>เวลาเข้า {{ date_in }}</h2>
          <v-time-picker format="24hr" v-model="time_in" :disabled="!car || car.status != 'OCCUPIED'" />
        </v-col>
      </v-row>
      <v-row v-if="car">
        <v-col>
          <v-btn @click="submit">SUBMIT</v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>หนี้</th>
            <th>ใบขับขี่</th>
            <th>บัตรประจำตัวประชาชน</th>
            <th>days</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in tobeKill" :key="item.id">
            <td>{{ item.car }}</td>
            <td>{{ item.driver }}</td>
            <td>{{ item.time_out }}</td>
            <td>{{ item.time_in }}</td>
            <td>{{ item.price_per_day }}</td>
            <td>{{ item.nDays }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data() {
    return {
      tobeKill: [],
      search_plate_number: '',
      date_out: '',
      date_in: '',
      time_out: '',
      time_in: '',
      car: null,
      driver: null,
    }
  },
  mounted() {
    // this.$ajax.get('/api/taxicom/employee/?over_500=1').then(response => {
    //   this.employeesOver500 = response.data
    // })
    this.$ajax.get('/api/taxicom/driving/').then(response => {
      var now = Date.now()
      var toboKillList = []
      for (var i = 0; i < response.data.length; i++) {
        var diff = Math.floor((now - Date.parse(response.data[i].time_out)) / 86400000)
        var price = diff * response.data[i].price_per_day
        response.data[i]['nDays'] = diff
        response.data[i]['price'] = price
        if (response.data[i].time_in == null && diff > 0) toboKillList.push(response.data[i])
        // alert('hello')
        // alert(response.data[i].time_out)
        //response.data[i]['nDays'] = 2
      }
      // alert(response.data.length)
      this.tobeKill = toboKillList
    })
  },
  watch: {
    search_plate_number() {
      this.car = null
      this.driver = null
      this.date_out = ''
      this.date_in = ''
      this.time_out = ''
      this.time_in = ''
    },
  },
  methods: {
    getCar() {
      this.$ajax.get(`/api/taxicom/car/get_by_plate_number/?plate_number=${this.search_plate_number}`).then(response => {
        this.car = response.data
        if (this.car.status == 'IDLE') {
          this.driver = null
          this.date_out = moment().format('YYYY-MM-DD')
          this.date_in = ''
          this.time_out = moment().format('HH:mm')
          this.time_in = ''
        } else {
          this.driver = this.car.last_driver_id
          this.date_out = moment(this.car.last_time_out).format('YYYY-MM-DD')
          this.date_in = moment().format('YYYY-MM-DD')
          this.time_out = moment(this.car.last_time_out).format('HH:mm')
          this.time_in = moment().format('HH:mm')
        }
      })
    },
    submit() {
      if (this.car.status == 'IDLE') {
        this.takeCar()
      } else {
        this.returnCar()
      }
    },
    takeCar() {
      let time_out = moment(this.date_out + ' ' + this.time_out)
      this.$ajax.post('/api/taxicom/car/take_car/', { time_out, car: this.car.id, driver: this.driver })
    },
    returnCar() {
      let time_in = moment(this.date_in + ' ' + this.time_in)
      this.$ajax.post('/api/taxicom/car/return_car/', { time_in, car: this.car.id, driver: this.driver })
    },
  },
}
</script>
