<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">category</th>
          <th class="text-left">name</th>
          <th class="text-left">description</th>
          <th class="text-left">partnumber</th>
          <th class="text-left">legacycode</th>
          <th class="text-left">minimumstock</th>
          <th class="text-left">alertstock</th>
          <th class="text-left">fullstock</th>
          <th class="text-left">batchsize</th>

        </tr>
      </thead>
      <tbody>
        <tr v-for="item in part" :key="item.category">
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.part_number }}</td>
          <td>{{ item.legacy_code }}</td>
          <td>{{ item.minimun_stock }}</td>
          <td>{{ item.alert_stock }}</td>
          <td>{{ item.full_stock }}</td>
          <td>{{ item.batch_size }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  data() {
    return {
      part: [],
    }
  },
  mounted() {
    this.$ajax.get('/api/taxicom/part/get_status_summary/').then(response => {
      this.part = response.data
    })
  },
}
</script>